<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= title %></h1>
        <hr>
        <ul id="message">
            <% for(var i in content){ %>
                <% var obj = content[i].attributes; %>
                <li><%= obj.message %></li>
                <% } %>
            </ul>
            <form name="myform">
                <input name="text" type="text">
                <button name="btn">送信</button>
            </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script>
            // クライアントからサーバへ接続要求
            var socket = io();
            var message = document.getElementById('message');
            var form = document.forms.myform;

            form.btn.addEventListener('click', function(e){
                e.preventDefault();
                socket.emit('chat', form.text.value);
                form.text.value='';
            });

            socket.on('chat', function(msg){
                var li = document.createElement('li');

                li.textContent = msg;
                message.appendChild(li);
            });
        </script>
    </body>
</html>