<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="./login_style.css" rel="stylesheet">
    </head>
    <body>
        <div id="pageContainer">
            <a href="/new">アカウント新規作成</a>
            <p><%- title %></p>
            <form method="post" action="<%= destination %>">
                <input type="text" name="name" placeholder="name">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="<%= btn_value %>">
            </form>
        </div>
    </body>
</html>
