<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>ログイン名とパスワードを入力してください</p>
        <form method="post" action="/login">
            <input type="text" name="name">
            <input type="password" name="password">
            <input type="submit" value="ログイン">
        </form>
    </body>
</html>