<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p><%= title %></p>
        <p><%= error %></p>
        <form method="post" actin="/make_topic">
            <p>トピック名を入力してください</p>
            <input type="text" placeholder="トピック名" name="topic_name">
            <input type="submit" value="作成">
        </form>
    </body>
</html>