<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div><%= error %></div>

        <form method="post" action="/topic">
            <% for(var i in content){ %>
                <% var obj = content[i].attributes; %>
                <input type="radio" name="topic" value="<%= obj.topic %>"><%= obj.topic %><br/>
            <% } %>
            <input type="submit" value="選択">
        </form>
    </body>
</html>